[core]
    remote = s3
['remote "s3"']
    url = s3://dvc-data/example-project
    endpointurl = http://minio.minio:9000
    ssl_verify = false
    region = us-east-2
    access_key_id = ...
    secret_access_key= ...
